---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-08 06:11:13 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates running automated test suites in ServiceNow using Basic or API Key authentication, allowing users to define test parameters such as browser name, version, operating system, and test suite details. It helps streamline the CI/CD process by enabling developers to execute tests in different environments with ease.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates running automated test suites in ServiceNow using Basic or API Key authentication, allowing users to define test parameters such as browser name, version, operating system, and test suite details. It helps streamline the CI/CD process by enabling developers to execute tests in different environments with ease.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
