---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-10 14:36:09 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  The GitHub Action provided automates the execution of automated test suites in a ServiceNow environment using specific browser and operating system configurations. It requires setting up credentials and instance URLs as secrets in the repository, then configuring the action with necessary inputs such as test suite details, browser settings, and operating system parameters to run tests on specified environments.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

The GitHub Action provided automates the execution of automated test suites in a ServiceNow environment using specific browser and operating system configurations. It requires setting up credentials and instance URLs as secrets in the repository, then configuring the action with necessary inputs such as test suite details, browser settings, and operating system parameters to run tests on specified environments.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
