---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-14 06:20:44 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  The GitHub Action described in the README automates the process of running automated test suites in a ServiceNow environment using various parameters such as browser settings, operating system versions, and test suite details. It solves the problem of integrating CI/CD practices into the ServiceNow development workflow by providing a reusable action that can be configured for different environments and test requirements.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

The GitHub Action described in the README automates the process of running automated test suites in a ServiceNow environment using various parameters such as browser settings, operating system versions, and test suite details. It solves the problem of integrating CI/CD practices into the ServiceNow development workflow by providing a reusable action that can be configured for different environments and test requirements.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
