---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-14 13:52:38 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  The GitHub Action `ServiceNow CI/CD GitHub Action for Run Tests` automates the execution of automated test suites in a ServiceNow instance using Basic or API Key authentication. It helps streamline the process of running tests across different environments and versions, providing flexibility and ease of use for DevOps teams integrating ServiceNow with their CI/CD pipelines.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

The GitHub Action `ServiceNow CI/CD GitHub Action for Run Tests` automates the execution of automated test suites in a ServiceNow instance using Basic or API Key authentication. It helps streamline the process of running tests across different environments and versions, providing flexibility and ease of use for DevOps teams integrating ServiceNow with their CI/CD pipelines.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
