---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-15 06:57:04 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates the execution of automated test suites in ServiceNow using Selenium WebDriver. It helps users set up and run tests across different environments by configuring service credentials, instance URLs, app sys_ids, and test suite IDs. The action supports various browsers and operating systems, allowing for flexible testing configurations.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates the execution of automated test suites in ServiceNow using Selenium WebDriver. It helps users set up and run tests across different environments by configuring service credentials, instance URLs, app sys_ids, and test suite IDs. The action supports various browsers and operating systems, allowing for flexible testing configurations.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
