---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-15 14:07:27 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  The GitHub Action automates running automated test suites in ServiceNow CI/CD pipelines by setting up necessary credentials, instance URLs, app identifiers, and test suite details. It supports configuring browser environments and operating systems to run tests according to specified criteria. The action is useful for DevOps teams looking to integrate automated testing into their workflows with ease.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

The GitHub Action automates running automated test suites in ServiceNow CI/CD pipelines by setting up necessary credentials, instance URLs, app identifiers, and test suite details. It supports configuring browser environments and operating systems to run tests according to specified criteria. The action is useful for DevOps teams looking to integrate automated testing into their workflows with ease.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
