---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-15 21:43:56 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action is a CI/CD tool specifically designed to automate the execution of automated test suites in ServiceNow environments using various browser configurations and operating system settings. It addresses the need for seamless integration between ServiceNow's CI/CD features and modern testing frameworks, allowing developers to quickly set up and run functional tests across different environments and devices.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action is a CI/CD tool specifically designed to automate the execution of automated test suites in ServiceNow environments using various browser configurations and operating system settings. It addresses the need for seamless integration between ServiceNow's CI/CD features and modern testing frameworks, allowing developers to quickly set up and run functional tests across different environments and devices.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
