---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-16 22:19:57 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates the running of automated test suites in a ServiceNow environment using basic authentication, API keys, or an instance URL. It solves problems related to managing and executing test automation scripts within a CI/CD pipeline by simplifying the setup and configuration process for testing environments. The key capabilities include supporting various browsers, operating systems, test suite selection, and handling different authentication methods for ServiceNow instances.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates the running of automated test suites in a ServiceNow environment using basic authentication, API keys, or an instance URL. It solves problems related to managing and executing test automation scripts within a CI/CD pipeline by simplifying the setup and configuration process for testing environments. The key capabilities include supporting various browsers, operating systems, test suite selection, and handling different authentication methods for ServiceNow instances.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
