---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-20 06:34:40 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates the process of running test suites in a ServiceNow environment using different browsers and operating systems. It simplifies the setup by requiring only necessary credentials and instance URLs to be configured as secrets, reducing the need for manual configuration steps. The action provides flexibility through customizable inputs for browser name, version, OS, and test suite details, making it suitable for various development environments.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates the process of running test suites in a ServiceNow environment using different browsers and operating systems. It simplifies the setup by requiring only necessary credentials and instance URLs to be configured as secrets, reducing the need for manual configuration steps. The action provides flexibility through customizable inputs for browser name, version, OS, and test suite details, making it suitable for various development environments.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
