---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-21 06:47:11 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates the execution of automated test suites in ServiceNow CI/CD by setting up necessary variables and secrets, configuring a workflow template, and providing inputs and environment variables to customize the test run. It helps streamline testing processes within the DevOps pipeline for ServiceNow applications.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates the execution of automated test suites in ServiceNow CI/CD by setting up necessary variables and secrets, configuring a workflow template, and providing inputs and environment variables to customize the test run. It helps streamline testing processes within the DevOps pipeline for ServiceNow applications.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
