---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-22 22:08:39 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.14
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  The GitHub Action `ServiceNow CI/CD GitHub Action for Run Tests` automates the execution of a specified automated test suite within a ServiceNow environment. It simplifies the process of setting up credentials, configuring secrets, and integrating with ServiceNow's CI/CD API to run client tests on various browsers and operating systems.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.14**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

The GitHub Action `ServiceNow CI/CD GitHub Action for Run Tests` automates the execution of a specified automated test suite within a ServiceNow environment. It simplifies the process of setting up credentials, configuring secrets, and integrating with ServiceNow's CI/CD API to run client tests on various browsers and operating systems.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.13...1.0.14
