---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-08-23 06:06:30 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates the execution of a specified automated test suite in a ServiceNow instance using a service account or API Key. It simplifies testing by setting up necessary configurations and secrets, allowing users to easily run tests via a workflow template. The action supports various browser and OS combinations for running client tests, making it versatile for different environments.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates the execution of a specified automated test suite in a ServiceNow instance using a service account or API Key. It simplifies testing by setting up necessary configurations and secrets, allowing users to easily run tests via a workflow template. The action supports various browser and OS combinations for running client tests, making it versatile for different environments.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
