---
title: Moropo - Trigger Mobile App Test Run
date: 2023-08-09 03:43:26 +00:00
tags:
  - moropo-com
  - GitHub Actions
draft: false
---


Version updated for **moropo-com/action-trigger-test-run** to version **v1.0.1**.
This action is used across all versions by 1 repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/moropo-trigger-mobile-app-test-run) to find the latest changes.
