---
title: ServiceNow DevOps Unit Test Results
date: 2023-11-02 19:06:05 +00:00
tags:
  - ServiceNow
  - GitHub Actions
draft: false
repo: ServiceNow/servicenow-devops-test-report
marketplace: https://github.com/marketplace/actions/servicenow-devops-unit-test-results
version: v3.0.0
dependentsNumber: "288"
---


Version updated for **ServiceNow/servicenow-devops-test-report** to version **v3.0.0**.
- This publisher is shown as 'verified' by GitHub.
- This action is used across all versions by **288** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/servicenow-devops-unit-test-results) to find the latest changes.

## Release notes

- Resolved few critical defects
