---
title: Moropo - Trigger Mobile App Test Run
date: 2024-04-17 19:31:56 +00:00
tags:
  - moropo-com
  - GitHub Actions
draft: false
repo: moropo-com/action-trigger-test-run
marketplace: https://github.com/marketplace/actions/moropo-trigger-mobile-app-test-run
version: v2.0.8
dependentsNumber: "2"
---


Version updated for **moropo-com/action-trigger-test-run** to version **v2.0.8**.
- This action is used across all versions by **2** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/moropo-trigger-mobile-app-test-run) to find the latest changes.

## Release notes

V2.0.8
