---
title: Run test on Autify for Web
date: 2025-12-03 05:26:05 +00:00
tags:
  - autifyhq
  - GitHub Actions
draft: false
repo: https://github.com/autifyhq/actions-web-test-run
marketplace: https://github.com/marketplace/actions/run-test-on-autify-for-web
version: v2.9.0
dependentsNumber: "7"
---


Version updated for **https://github.com/autifyhq/actions-web-test-run** to version **v2.9.0**.
- This publisher is shown as 'verified' by GitHub.
- This action is used across all versions by **7** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/run-test-on-autify-for-web) to find the latest changes.

## Release notes

## What's Changed
* Add cooldown time for dependabot by @tai2 in https://github.com/autifyhq/actions-web-test-run/pull/44
* ci: pin github action with full-length commit hash by @ostk0069 in https://github.com/autifyhq/actions-web-test-run/pull/46

## New Contributors
* @tai2 made their first contribution in https://github.com/autifyhq/actions-web-test-run/pull/44
* @ostk0069 made their first contribution in https://github.com/autifyhq/actions-web-test-run/pull/46

**Full Changelog**: https://github.com/autifyhq/actions-web-test-run/compare/v2...v2.9.0
