---
title: Publish test results to Platform
date: 2025-12-10 21:26:26 +00:00
tags:
  - cloudbees-io-gha
  - GitHub Actions
draft: false
repo: https://github.com/cloudbees-io-gha/publish-test-results
marketplace: https://github.com/marketplace/actions/publish-test-results-to-platform
version: v2.0.1
dependentsNumber: "38"
---


Version updated for **https://github.com/cloudbees-io-gha/publish-test-results** to version **v2.0.1**.
- This action is used across all versions by **38** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/publish-test-results-to-platform) to find the latest changes.

## Release notes

Update Go version to fix some security vulnerabilities
