---
title: Run test on Autify for Web
date: 2023-10-05 11:00:19 +00:00
tags:
  - autifyhq
  - GitHub Actions
draft: false
repo: autifyhq/actions-web-test-run
marketplace: https://github.com/marketplace/actions/run-test-on-autify-for-web
version: v2.7.2
dependentsNumber: "3"
---


Version updated for **autifyhq/actions-web-test-run** to version **v2.7.2**.
- This publisher is shown as erified by GitHub.
- This action is used across all versions by **3** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/run-test-on-autify-for-web) to find the latest changes.

## Release notes

## What's Changed
* Bump actions/checkout from 3 to 4 by @dependabot in https://github.com/autifyhq/actions-web-test-run/pull/36
* feat: added interval input to specify polling interval by @Yarimizu14 in https://github.com/autifyhq/actions-web-test-run/pull/37

## New Contributors
* @dependabot made their first contribution in https://github.com/autifyhq/actions-web-test-run/pull/36
* @Yarimizu14 made their first contribution in https://github.com/autifyhq/actions-web-test-run/pull/37

**Full Changelog**: https://github.com/autifyhq/actions-web-test-run/compare/v2.7.1...v2.7.2
