---
title: Run test on Autify for Mobile
date: 2023-10-24 11:04:23 +00:00
tags:
  - autifyhq
  - GitHub Actions
draft: false
repo: autifyhq/actions-mobile-test-run
marketplace: https://github.com/marketplace/actions/run-test-on-autify-for-mobile
version: v2.5.0
dependentsNumber: "1"
---


Version updated for **autifyhq/actions-mobile-test-run** to version **v2.5.0**.
- This publisher is shown as 'verified' by GitHub.
- This action is used across all versions by **1** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/run-test-on-autify-for-mobile) to find the latest changes.

## Release notes

## What's Changed
* Bump actions/checkout from 3 to 4 by @dependabot in https://github.com/autifyhq/actions-mobile-test-run/pull/14

## New Contributors
* @dependabot made their first contribution in https://github.com/autifyhq/actions-mobile-test-run/pull/14

**Full Changelog**: https://github.com/autifyhq/actions-mobile-test-run/compare/v2.4.0...v2.5.0
