---
title: jk-publish-test-results
date: 2026-07-14 08:10:05 +00:00
tags:
  - jedi-knights
  - GitHub Actions
draft: false
repo: https://github.com/jedi-knights/publish-test-results
marketplace: https://github.com/marketplace/actions/jk-publish-test-results
version: v0.1.1
dependentsNumber: "?"
actionType: Composite
actionSummary: |
  This GitHub Action automates the publishing of multi-format test results as a drilldownable per-test check-run in GitHub, allowing users to click through individual tests and annotations directly from the files-changed diff. It supports various input dialects, including JUnit XML and other formats, and is optimized for cold start performance, with typical parsing times under a second.
---


Version updated for **https://github.com/jedi-knights/publish-test-results** to version **v0.1.1**.

- This action is used across all versions by **?** repositories.

## Action Type
This is a **Composite** action.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/jk-publish-test-results) to find the latest changes.

## Action Summary

This GitHub Action automates the publishing of multi-format test results as a drilldownable per-test check-run in GitHub, allowing users to click through individual tests and annotations directly from the files-changed diff. It supports various input dialects, including JUnit XML and other formats, and is optimized for cold start performance, with typical parsing times under a second.

## What's Changed



