---
title: jk-publish-test-results
date: 2026-07-14 15:17:09 +00:00
tags:
  - jedi-knights
  - GitHub Actions
draft: false
repo: https://github.com/jedi-knights/publish-test-results
marketplace: https://github.com/marketplace/actions/jk-publish-test-results
version: v0.3.0
dependentsNumber: "?"
actionType: Composite
actionSummary: |
  This GitHub Action, `publish-test-results`, automates the process of publishing multi-format test results as a drilldownable per-test check-run in GitHub. It supports ten different input dialects and provides clickable annotations on the diff for every test, making it easier to trace failures directly to source lines. The action is designed for Go, Python, and other languages, and it leverages Go's fast start time for efficient execution.
---


Version updated for **https://github.com/jedi-knights/publish-test-results** to version **v0.3.0**.

- This action is used across all versions by **?** repositories.

## Action Type
This is a **Composite** action.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/jk-publish-test-results) to find the latest changes.

## Action Summary

This GitHub Action, `publish-test-results`, automates the process of publishing multi-format test results as a drilldownable per-test check-run in GitHub. It supports ten different input dialects and provides clickable annotations on the diff for every test, making it easier to trace failures directly to source lines. The action is designed for Go, Python, and other languages, and it leverages Go's fast start time for efficient execution.

## What's Changed



