---
title: QHSE Professionals CI/CD Run ATF Test Suite
date: 2026-07-30 17:37:08 +00:00
tags:
  - mikevdberge
  - GitHub Actions
draft: false
repo: https://github.com/mikevdberge/sncicd-tests-run
marketplace: https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite
version: 1.0.9
dependentsNumber: "1"
actionType: Node
nodeVersion: 20
actionSummary: |
  This GitHub Action automates running automated test suites in ServiceNow CI/CD workflows. It solves the problem of manually managing test suite execution by providing a reusable and configurable action that can be integrated into existing GitHub workflows. The action supports various configurations such as browser name, version, operating system, and test suite details, and requires setting up specific environment variables for authentication and instance information.
---


Version updated for **https://github.com/mikevdberge/sncicd-tests-run** to version **1.0.9**.

- This action is used across all versions by **1** repositories.

## Action Type
This is a **Node** action using Node version **20**.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/qhse-professionals-ci-cd-run-atf-test-suite) to find the latest changes.

## Action Summary

This GitHub Action automates running automated test suites in ServiceNow CI/CD workflows. It solves the problem of manually managing test suite execution by providing a reusable and configurable action that can be integrated into existing GitHub workflows. The action supports various configurations such as browser name, version, operating system, and test suite details, and requires setting up specific environment variables for authentication and instance information.

## What's Changed

**Full Changelog**: https://github.com/mikevdberge/sncicd-tests-run/compare/1.0.8...1.0.9
