---
title: Publish test results to Unify
date: 2026-05-19 15:25:09 +00:00
tags:
  - cloudbees-io-gha
  - GitHub Actions
draft: false
repo: https://github.com/cloudbees-io-gha/publish-test-results
marketplace: https://github.com/marketplace/actions/publish-test-results-to-unify
version: v2
dependentsNumber: "38"
actionType: Docker
---


Version updated for **https://github.com/cloudbees-io-gha/publish-test-results** to version **v2**.

- This action is used across all versions by **38** repositories.

## Action Type
This is a **Docker** action.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/publish-test-results-to-unify) to find the latest changes.

## Action Summary

This GitHub Action enables automated publishing of test results from GitHub Actions workflows to CloudBees Unify. It supports various popular testing tools and integrates test results into CloudBees' analytics dashboards and workflow details, providing enhanced visibility and insights into testing outcomes. By automating this process, it simplifies the tracking and analysis of test data within CI/CD pipelines.

## What's Changed

v2.0.2
