---
title: Moropo - Trigger Mobile App Test Run
date: 2023-09-06 18:40:25 +00:00
tags:
  - moropo-com
  - GitHub Actions
draft: false
repo: moropo-com/action-trigger-test-run
marketplace: https://github.com/marketplace/actions/moropo-trigger-mobile-app-test-run
version: v1.0.6
dependentsNumber: 1
---


Version updated for **moropo-com/action-trigger-test-run** to version **v1.0.6**.
- This publisher is shown as 'verified' by GitHub.
- This action is used across all versions by **1** repositories.

Go to the [GitHub Marketplace](https://github.com/marketplace/actions/moropo-trigger-mobile-app-test-run) to find the latest changes.

## Release notes

## What's Changed
* Add the ability to upload a build from a local file path by @Blooym in https://github.com/moropo-com/action-trigger-test-run/pull/14

## New Contributors
* @Blooym made their first contribution in https://github.com/moropo-com/action-trigger-test-run/pull/14

**Full Changelog**: https://github.com/moropo-com/action-trigger-test-run/compare/v1.0.4...v1.0.6
